<!-- footer.html -->
{{!-- <footer>
    <div class="footer-content" style="background-color: #b0d5de; padding: 20px; text-align: center;">
        <p>&copy; 2024 chronara watchstore. All rights reserved.</p>
    </div>
</footer>

</html> --}}
