{{!-- <h1>Edit Order Status</h1>
<form action="/admin/orders/{{order._id}}" method="POST">
  <div>
    <label for="status">Status:</label>
    <select name="status" id="status" required>
      <option value="Pending" {{#ifEquals order.status "Pending"}}selected{{/ifEquals}}>Pending</option>
      <option value="Processing" {{#ifEquals order.status "Processing"}}selected{{/ifEquals}}>Processing</option>
      <option value="Shipped" {{#ifEquals order.status "Shipped"}}selected{{/ifEquals}}>Shipped</option>
      <option value="Delivered" {{#ifEquals order.status "Delivered"}}selected{{/ifEquals}}>Delivered</option>
      <option value="Cancelled" {{#ifEquals order.status "Cancelled"}}selected{{/ifEquals}}>Cancelled</option>
      <option value="Return request" {{#ifEquals order.status "Return request"}}selected{{/ifEquals}}>Return request</option>
      <option value="Returned" {{#ifEquals order.status "Returned"}}selected{{/ifEquals}}>Returned</option>
    </select>
  </div>
  <button type="submit">Update</button>
</form> --}}
