<nav class="navbar">

  <div class="container-fluid d-flex justify-content-center">

    <a class="navbar-brand" href="#">Chronara</a>
  </div>
</nav>
<div class="login-container">
    <div class="login-box">
      <h2>Admin Login</h2>
      <form>
        {{!-- <label for="username">Your username or email address</label> --}}
        <input type="text" id="username" placeholder=" username or email " required>
        
        {{!-- <label for="password">Password</label> --}}
        <div class="password-container">
          <input type="password" id="password" placeholder="Password" required>
          <span class="toggle-password"></span>
        </div>

       <div class="remember-forgot">
  <label>
   <input type="checkbox">
    <span>Remember me</span>
  </label>
  <span><a href="#">Forgot password?</a></span>
</div>

        
        <button type="submit" class="login-button">Sign In</button>
        
        <div class="separator">
          <div class="line"></div>
          <p>OR</p>
          <div class="line"></div>
        </div>
        
        <button type="button" class="google-button">
          {{!-- <img src="publi" alt="Google" /> --}}
          <img src="/images/Google_Icons-09-512.webp" alt="Google" />

          Continue with Google
        </button>
      </form>
    </div>
  </div>