/* userheader.css */

/* Apply Google Font (Roboto) to Navbar */
/* userheader.css */

/* Apply Poppins font to the entire navbar */
.navbar {
    font-family: 'Poppins', sans-serif;
  }
  
  /* Apply Poppins to the navbar brand */
  .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Optionally, use a heavier weight for the brand */
  }
  
  /* Apply Poppins to the navbar links */
  .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; /* Regular font weight for links */

  }
  
  /* Style for hover effect */
  .nav-link:hover {
    color: #007bff; /* Change color when hovering over links */
  }
  .dropdown{
    position: relative;
    display: inline-block;
  } 
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    right: 0;
  }
  .dropdown-content a{
    color: black;
    padding: 12px 16px ;
    text-decoration: none;
    display: block;
    width: 100%;
    }
    .dropdown-content a:hover{
        background-color: #f1f1f1;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    #header{
        position: relative;
        z-index: 500;
    }
    .sign-in-link{
      text-decoration: none;
      color: black;
    }
  
  