
<head>
    <link rel="stylesheet" href="/css/user/home.css">
</head>
     
     <header class="navbar">
        <div class="logo">chronara</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <div class="auth-links">
            <a href="/user/login">Login</a> | <a href="/user/usersignup">Signup</a>
        </div>
    </header> 


    <!-- Hero Section -->
    
    <section class="hero">
        <div class="hero-content">
            <h1>FIND TIMELESS ELEGANCE...</h1>
<p>Explore stylish, reliable, and high-quality watches at unbeatable prices. From timeless classics to the latest smartwatches, we’ve got it all. Don’t wait—find your perfect match and order now! </p>           <div class="search-bar">
                <input type="text" placeholder="Search">
                <button>Search</button>
            </div>
        </div>
        <div class="hero-image">
            <img src="/images/c72fdc0228d888b8b22ad50ad7b958b0.jpg" alt="Timeless Elegance">
        </div>
    </section>
    <!-- Categories Section -->
<section class="categories">
    <h2>Newest Collection Available</h2>
    <div class="category-list">
        <a href="#" class="category-item">
            <img src="/images/menwatch.png" alt="Men Watches">
            <p>Men</p>
        </a>
        <a href="#" class="category-item">
            <img src="/images/womenwatch.png" alt="Women Watches">
            <p>Women</p>
        </a>
        <a href="#" class="category-item">
            <img src="/images/casuals.png" alt="Casual Watches">
            <p>Casuals</p>
        </a>
        <a href="#" class="category-item">
            <img src="/images/smartwatch.png" alt="Smart Watches">
            <p>Smart Watches</p>
        </a>
    </div>
</section>


    

    <!-- Banner Section -->
    <div class="containerbanner">
    <section class="banner">
        <div class="banner-content">
            <h2>BESTSELLERS</h2>
            <p>From ₹500 to ₹10,000. Shop now...</p>
            <div class="banner-buttons">
            
                <button class="btn-secondary">SHOP NOW</button>
            </div>
        </div>
        <div class="banner-image">
            <img src="/images/8e6e3d853e0c6a47adbeab27317905dc-removebg-preview.png" alt="Models">
        </div>
    </section>
    </div>
    <section class="watch-section">
  <div class="container">
    <div class="watch-item">
        <div class="wishlist-icon">
<i class="fa-regular fa-heart"></i>  </div>
        
              <img src="/images/2656WM01_1.webp" alt="TIMEX Watch">

      <span class="badge">New</span>
      <h3>TIMEX</h3>
      <p>Analog Watch - For Women</p>
      <button class="buy-btn">Buy</button>
    </div>

    <div class="watch-item">
        <div class="wishlist-icon">
<i class="fa-regular fa-heart"></i>  </div>
        
         <img src="/images/1805QM01_1.webp" alt="Van Heusen Watch">

      <span class="badge">New</span>
      <h3>VAN HEUSEN</h3>
      <p>Analog Watch - For Women</p>
      <button class="buy-btn">Buy</button>
    </div>

    <div class="watch-item">
        <div class="wishlist-icon">
<i class="fa-regular fa-heart"></i>  </div>
        
    <img src="/images/1806NL02_1.webp" alt="Van Heusen Watch">

      <span class="badge">New</span>
      <h3>VAN HEUSEN</h3>
      <p>Analog Watch - For Men</p>
      <button class="buy-btn">Buy</button>
    </div>

    <div class="watch-item">
        <div class="wishlist-icon">
<i class="fa-regular fa-heart"></i>  </div>
        
    <img src="/images/2644KM02_1.jpg" alt="TIMEX Watch">

      <span class="badge">New</span>
      <h3>TIMEX</h3>
      <p>Trending watch</p>
      <button class="buy-btn">Buy</button>
    </div>

    <div class="watch-item">
        <div class="wishlist-icon">
<i class="fa-regular fa-heart"></i>  </div>
        
              <img src="/images/90135SM01_1.webp" alt="ROLEX Watch">

      <span class="badge">New</span>
      <h3>ROLEX</h3>
      <p>Volt Analog  - For Men</p>
      <button class="buy-btn">Buy</button>
    </div>
  </div>
</section>
  {{> userfooter}} <!-- Include the footer partial -->




