<footer>
  <div class="footer-container">
    <!-- Logo and Text in Upper-Left Corner -->
    <div class="footer-logo">
      <img src="/images/Luxury_Modern_Swiss_Watch_Clock_Logo__1__ASH_BG-removebg-preview nobg white.png" alt="Chronara Logo" />
      <span><small>| watch store</small></span>
    </div>
    <!-- Left section -->
    <div class="footer-left">
      <p>&copy; 2024 Chronara. All rights reserved.</p>
      
    </div>

    <!-- Right section -->
    <div class="footer-right">
      <nav>
        <a href="/user/home">Home</a>
        <a href="/user/getContactPage">Contact</a>
        <a href="/user/getPrivacyPolicy">Privacy Policy</a>
        <a href="/user/termsOfUse">Terms of Use</a>
      </nav>
    </div>
  </div>

  <!-- About Us Section -->
  <section class="footer-about">
    
    <hr>
    <div class="icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </section>
</footer>
