{{!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Left: Brand Name -->
      <a class="navbar-brand" href="#">Chronara</a>

      <!-- Navbar Toggler for Mobile -->
<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Center: Navbar Links -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>

        <!-- Right: Login and Signup -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Login  |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 --}}
 <head>
      <link rel="stylesheet" href="/css/userheader.css">

 </head>
   <header id="header" class="navbar">
        <div class="logo">chronara</div>
        <nav>
            <ul class="nav-links">
                <li><a href="/user/home">Home</a></li>
                <li><a href="/user/getContactPage">Contact</a></li>
                <li><a href="/user/getAboutPage">About</a></li>
            </ul>
        </nav>
         {{#if username}}
        <div class="dropdown">
          <a class="sign-in-link" href="#">
            {{username}}
          </a>
          <div class="dropdown-content">
            <a  href="/profile">Profile</a>
            <a  href="/logout">Logout</a>
          </div>
        </div>
        {{else}}
        <div class="auth-links">
            <a href="/user/login">Login</a> | <a href="/user/usersignup">Signup</a>
        </div>
       {{/if}}  

    </header> 





