
<header id="header" class="navbar">
    <div class="logo monoton-regular">chronara</div>
    <nav>
        <ul class="nav-links">
            <li><a href="/user/">Home</a></li>
            <li><a href="/user/shop">Shop</a></li>
            <li><a href="/user/getAboutPage">About</a></li>
        </ul>
    </nav>

    {{#if username}}
    <div class="shopping-icon">
        <a href="/user/cart/?id={{cartId}}" class="cart-icon">

            <i class="fa-solid fa-bag-shopping"></i></a>


        <a href="/user/wishlist" class="wishlist-header">
            <i class="fa-regular fa-heart"></i></a>


        <div class="dropdown">

            <a class="sign-in-link" href="#">

                <!-- Profile icon -->
                <i class="fa-regular fa-user"></i>


                {{!-- {{username}} --}}
            </a>
            <div class="dropdown-content">
                <a href="/user/userProfile">Profile</a>
                <a href="/user/logout">Logout</a>
            </div>
        </div>
    </div>

    {{else}}
    <div class="auth-links">
        <a href="/user/login">Login</a> | <a href="/user/usersignup">Signup</a>
    </div>
    {{/if}}

</header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
</style>
<style>
    .monoton-regular {
        font-family: "Monoton", serif;
        font-weight: 400;
        font-style: normal;
        color: #d2ac7a;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-left: 50px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    .auth-links a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

    .fa-user {
        margin-right: 8px;
        /* Space between icon and username */
        font-size: 20px;
        /* Icon size */
        color: #333;
        /* Icon color */
    }

    .fa-bag-shopping {
        margin-right: 8px;
        /* Space between icon and username */
        font-size: 20px;
        /* Icon size */
        color: #333;
        /* Icon color */
    }

    .dropdown {
        position: relative;
        display: inline-block;

    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        right: 0;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #header {
        position: relative;
        z-index: 500;
    }

    .shopping-icon a {
        text-decoration: none;
    }

    .shopping-icon i {
        margin-left: 12px;
    }

    /* Ensure wishlist icon is always visible */
    header .wishlist-header {
        display: inline-block;
        font-size: 20px;
    }

    header .wishlist-header i {
        color: #ff0000;
        /* Red color for wishlist icon */
        margin-left: -73px;

    }

    header .wishlist-header:hover i {
        color: #c40000;
        /* Darker red on hover */
    }
</style>